NET "mid_clk" LOC = "G1" | IOSTANDARD = LVCMOS25;
NET "rst" LOC = "C11" | IOSTANDARD = LVCMOS25;
NET "serial_inp" LOC = "G12"| IOSTANDARD = LVCMOS25;
NET "clk" LOC = "B8" | IOSTANDARD = LVCMOS25;

#NET "dot" LOC = "N13" | IOSTANDARD = LVCMOS25;
#NET "s_out<6>" LOC = "L14" | IOSTANDARD = LVCMOS25;
#NET "s_out<5>" LOC = "H12" | IOSTANDARD = LVCMOS25;
#NET "s_out<4>" LOC = "N14" | IOSTANDARD = LVCMOS25;
#NET "s_out<3>" LOC = "N11" | IOSTANDARD = LVCMOS25;
#NET "s_out<2>" LOC = "P12" | IOSTANDARD = LVCMOS25;
#NET "s_out<1>" LOC = "L13" | IOSTANDARD = LVCMOS25;
#NET "s_out<0>" LOC = "M12" | IOSTANDARD = LVCMOS25;
#
#NET "en<0>" LOC ="K14" | IOSTANDARD = LVCMOS25;
#NET "en<1>" LOC ="M13" | IOSTANDARD = LVCMOS25;
#NET "en<2>" LOC ="J12" | IOSTANDARD = LVCMOS25;
#NET "en<3>" LOC ="F12" | IOSTANDARD = LVCMOS25;
NET "VSS" LOC = "B2" | IOSTANDARD = LVCMOS25;
NET "VCCC" LOC = "A3" | IOSTANDARD = LVCMOS25;
NET "VEE" LOC = "J3" | IOSTANDARD = LVCMOS25;
NET "RS" LOC = "B5" | IOSTANDARD = LVCMOS25;
NET "RW" LOC = "C6" | IOSTANDARD = LVCMOS25;
NET "ENE" LOC = "B6" | IOSTANDARD = LVCMOS25;
NET "s_out<0>" LOC = "C5" | IOSTANDARD = LVCMOS25;
NET "s_out<1>" LOC = "B7" | IOSTANDARD = LVCMOS25;
NET "s_out<2>" LOC = "A9" | IOSTANDARD = LVCMOS25;
NET "s_out<3>" LOC = "B9" | IOSTANDARD = LVCMOS25;
NET "s_out<4>" LOC = "A10" | IOSTANDARD = LVCMOS25;
NET "s_out<5>" LOC = "C9" | IOSTANDARD = LVCMOS25;
NET "s_out<6>" LOC = "C12" | IOSTANDARD = LVCMOS25;
NET "s_out<7>" LOC = "A13" | IOSTANDARD = LVCMOS25;
NET "LEDP" LOC = "C13" | IOSTANDARD = LVCMOS25;
NET "LEDN" LOC = "D12" | IOSTANDARD = LVCMOS25;
