NET "mid_clk" LOC = "G1" | IOSTANDARD = LVCMOS25;
NET "rst" LOC = "C11" | IOSTANDARD = LVCMOS25;
NET "serial_inp" LOC = "G12"| IOSTANDARD = LVCMOS25;
NET "clk" LOC = "B8" | IOSTANDARD = LVCMOS25;
NET "parallel_out<0>" LOC = "M5" | IOSTANDARD = LVCMOS25;
NET "parallel_out<1>" LOC = "M11" | IOSTANDARD = LVCMOS25;