NET "mid_clk" LOC = "G1" | IOSTANDARD = LVCMOS25;
NET "rst" LOC = "C11" | IOSTANDARD = LVCMOS25;
NET "serial_inp" LOC = "G12"| IOSTANDARD = LVCMOS25;
NET "clk" LOC = "B8" | IOSTANDARD = LVCMOS25;

NET "dot" LOC = "N13" | IOSTANDARD = LVCMOS25;
NET "s_out<6>" LOC = "L14" | IOSTANDARD = LVCMOS25;
NET "s_out<5>" LOC = "H12" | IOSTANDARD = LVCMOS25;
NET "s_out<4>" LOC = "N14" | IOSTANDARD = LVCMOS25;
NET "s_out<3>" LOC = "N11" | IOSTANDARD = LVCMOS25;
NET "s_out<2>" LOC = "P12" | IOSTANDARD = LVCMOS25;
NET "s_out<1>" LOC = "L13" | IOSTANDARD = LVCMOS25;
NET "s_out<0>" LOC = "M12" | IOSTANDARD = LVCMOS25;

NET "en<0>" LOC ="K14" | IOSTANDARD = LVCMOS25;
NET "en<1>" LOC ="M13" | IOSTANDARD = LVCMOS25;
NET "en<2>" LOC ="J12" | IOSTANDARD = LVCMOS25;
NET "en<3>" LOC ="F12" | IOSTANDARD = LVCMOS25;